{% extends "base_generic.html" %}
{% block title %}Список поставщиков{% endblock %}

{% block content %}
<div class="container">
    <div class="p-4 p-md-10 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-10 fst-italic">Наши поставщики</h1>
            <p class="lead mb-0"><a href="{% url 'supplier_create' %}" class="text-white fw-bold">Добавить
                поставщика</a>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-4 p-md-10 mb-4 text-white rounded bg-dark">
        <form action="{% url 'searchsupp' %}" method="get">
            <div class="col-md-6 px-0">
                <div> Поиск по фамилии:
                    <input type="search" placeholder="Введите фамилию" name="search" class="form-control" required="">
                </div>
                <div>
                    <button type="submit">Найти</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    {% if suppliers_list %}
    <div class="row mb-2">
        {% for supplier in suppliers_list %}
        <div class="col-md-7">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-0 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ supplier.last_name }} {{ supplier.first_name }} {{ supplier.patronymic }}</h3>
                    <div class="mb-1 text-muted">Сорт: {{ supplier.sort }}</div>
                    <div class="mb-1 text-muted">Статус анализа: {{ supplier.get_status_of_analysis_display }}</div>
                    <p class="card-text mb-auto">Количество меда: {{ supplier.amount }}</p>
                    <a href="{{ supplier.get_absolute_url }}" class="stretched-link">Просмотр</a>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <a href="{% url 'supplier_delete' supplier.pk %}"><strong>Удалить поставщика из списка</strong></a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {% else %}
    <p>Заказов нет.</p>
    {% endif %}
</div>
{% endblock %}